@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.glow {
    position: fixed;
    width: 500px;
    height: 500px;
    background: #FFDE15;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

body{
    display: flex;
    flex-direction: column;
    background: #0a0a0a;
    align-items: center;
}

.nav img{
    width: 110px;
}

header{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    min-height: 80px;
}

header .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 13%;
    padding-right: 13%;
    align-items: center;
    padding-top: 1%;
}

nav{
    display: flex;
    gap: 20px;
    align-items: center;
}

nav .num{
    font-size: 15px;
    text-decoration: none;
    color: #cacac9;
}

.gs{
    height: 40px;
    width: 110px;
    background: #FFDE15;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.first{
    display: flex;
    align-items: center;
    margin-top: 10%;
    color: #cacac9;
    width: 100%;
    gap: 30px;
}

.first img{
    width: 60%;
    max-width: 700px;
    justify-self: center;
    padding-right: 13%;
}

.info{
    padding-left: 13%;
}

.info .l1{
    font-size: clamp(3rem, 8vw, 100px);
    font-weight: 600;
    color: #FFDE15;
}

.info p{
    margin-top: 5%;
    width: 90%;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.5;
    display: flex;
    gap: 50px;
    color: #9f9e9f;
}

.gs2{
    margin-top: 30px;
    height: 50px;
    width: 160px;
    background: #FFDE15;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.text{
    margin-top: 10%;
    color: #cacac9;
    padding-left: 13%;
    width: 100%;
}

.text h1{
    font-size: 45px;
}

.text span{
    color: #FFDE15;
}

footer{
    width: 100%;
    background: #0a0a0a;
    height: 80px;
    border: 2px solid #101010;
    margin-top: 5%;
}

footer .info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #9f9e9f6c;
    text-align: center;
    gap: 20px;
    padding: 0;
    font-weight: 100;
    font-size: 14px;
}

.info a{
    text-decoration: none;
    color: #9f9e9f6c;
    margin-left: 10px;
}

footer .info span{
    margin-top: 3%;
}

.steps{
    margin-top: 5%;
    width: 80%;
    display: flex;
    gap: 25px;
    margin-left: 10%;
}

.card1 svg,
.card2 svg,
.card3 svg{
    color: #FFDE15;
    width: 40px;
    height: 40px;
}

.icon-circle{
    width: 90px;
    height: 90px;
    border: 1px solid #ffe01559;
    background: #2f2a0c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.card1,
.card2,
.card3{
    width: 100%;
    min-height: 450px;
    border: 1px solid #9f9e9f32;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: #121212;
}

.card1:hover,
.card2:hover,
.card3:hover{
    background: #19170b;
    border: 1px solid #ffe0156b;
    transition: 0.5s ease;
}

.card1 span,
.card2 span,
.card3 span{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-top: 10%;
    text-align: center;
}

.card1 p,
.card2 p,
.card3 p{
    margin-top: 5%;
    font-size: 1rem;
    color: #9f9e9f;
    width: 230px;
    text-align: center;
    font-weight: 100;
    line-height: 1.5;
}

nav svg{
    width: 16px;
    
}

.nav_icon{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.facebook{
    width: 10px;
}

.circle{
    width: 40px;
    height: 40px;
    border: 1px solid #ffe01559;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover{
    background: #2f2a0c;
    transition: 0.5s ease;
}

@media (max-width: 600px){

    header{
        position: fixed;
        padding: 10px;
    }

    nav .num{
        display: none;
    }

    nav .gs{
        display: none;
    }


    .nav_icon{
        gap: 10px;
        
    }


    .first{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 30%;
    }

    .steps{
        flex-direction: column;
    }

    .text{
        text-align: center;
    }

    .text h1{
        font-size: 35px;
    }

    .info{
        flex-direction: column;
    }

    .info span{
        font-size: 12px;
        color: rgba(255, 255, 255, 0.365);
    }

    footer{
        height: 30%;
        width: 100%;
    }

    main{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .first img{
        width: 100%;
        margin-left: 13%;
    }
}


